- item = item ? item : local[:item]
.item-container.col-md-12
  .row
    - if !item.featured_image.nil?
      .col-md-3.image-container
        = link_to item do
          = image_tag attachment_url(item, :featured_image, :fill, 300, 300, format: "jpg")
      .col-md-9
        %h3
          = link_to item[:name], item
        %p
          Most recent:
          = recent_email(item).subject + ', ' + recent_email(item).created_at.to_s
        %div.bootstrap-tagsinput
          = raw item.tag_list.map { |t| link_to t, tag_path(t), class: 'tag label label-info' }.join(' ')
    - else
      %h3
        = link_to item[:name], item
      %p
        Most recent:
        = recent_email(item).subject + ', ' + recent_email(item).created_at.to_s
      %div.bootstrap-tagsinput
        = raw item.tag_list.map { |t| link_to t, tag_path(t), class: 'tag label label-info' }.join(' ')
    =# render 'widgets/vote'
