= simple_form_for(@newsletter) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url
    = f.input :description
    = f.attachment_field :featured_image

  .form-actions
    = f.button :submit
