%h1 Listing newsletters

%table
  %tr
    %th Image
    %th Name
    %th Url
    %th Description
    %th
    %th
    %th

  - @newsletters.each do |newsletter|
    %tr
      %td= image_tag newsletter.image_url
      %td= newsletter.name
      %td= newsletter.url
      %td= newsletter.description
      %td= link_to 'Show', newsletter
      %td= link_to 'Edit', edit_newsletter_path(newsletter)
      %td= link_to 'Destroy', newsletter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Newsletter', new_newsletter_path
