- tag = params[:tag] ? params[:tag] : ''
.row
  = render 'layouts/search_large'

.row
  %h1
    = tag.capitalize.html_safe
    Newsletters

.row
  .col-md-12
    %ul.block-grid-sm-1
      - @newsletters.each do |newsletter|
        %li
          = link_to newsletter do
            - if !newsletter.image_url.nil?
              = image_tag newsletter.image_url
            - else
              = image_tag attachment_url(newsletter, :featured_image, :fill, 300, 300, format: "jpg")
          %h2
            = link_to newsletter.name, newsletter
          - if !newsletter.description.nil?
            %p
              = newsletter.description.split(" ").first(70).join(" ").gsub(/(?:f|ht)tps?:\/[^\s]+/, '') + "..."
          = link_to 'Learn more', newsletter, class: 'btn btn-block btn-lg btn-primary'
          %hr
  = paginate @newsletters
