%p#notice= notice

%p
  %b Name:
  = @newsletter.name
%p
  %b Url:
  = @newsletter.url
%p
  %b Description:
  = @newsletter.description
%p
  %b Source:
  = image_tag attachment_url(@newsletter, :featured_image, :fill, 300, 300, format: "jpg")

%p
  = image_tag @newsletter.image_url

= link_to 'Edit', edit_newsletter_path(@newsletter)
\|
= link_to 'Back', newsletters_path
