%p#notice= notice

%p
  %b Name:
  = @newsletter.name
%p
  %b Url:
  = @newsletter.url
%p
  %b Description:
  = @newsletter.description
%p
  %b Source:
  = @newsletter.image_url
%p
  = image_tag @newsletter.image_url

= link_to 'Edit', edit_newsletter_path(@newsletter)
\|
= link_to 'Back', newsletters_path
