.row
  = render 'layouts/search_large'
%div.row
  .col-md-12
    %h2.text-center
      Most Recent
    %ul.block-grid-sm-1
      - render_recent_newsletters(20).each do |email|
        %li
          %strong
            = link_to Newsletter.find(email.newsletter_id).name, email
          = link_to email.subject, email
          %p
            = strip_tags email.body.split(" ").first(70).join(" ").gsub(/(?:f|ht)tps?:\/[^\s]+/, '')

.row
  .col-md-12
    = link_to 'See more newsletters', newsletters_path, class: 'btn btn-block btn-lg btn-inverse'

.row
  = render 'layouts/tag_options'
