%h1= Featured

- render_curated_row('home').each do |item|
  %div
    %p
      = link_to item do
        = image_tag attachment_url(item, :featured_image, :fill, 300, 300, format: "jpg")

    %h3
      = link_to item[:name], item

%p
  Rails 4 starter app with social authentication and other goodies.

%p
  = I18n.t 'brand.name'
  uses best practices and code extracted from several production projects.

%p
  = link_to 'Github', 'https://github.com/starterkits/rails4-starterkit'
