= simple_form_for @curation do |f|
  = f.input :name
  = f.input :placement, required: true
  %h3 Tasks
  #tasks
    = f.simple_fields_for :curated_posts do |post|
      = render 'curated_post', f: post
    .links
      = link_to_add_association 'add post', f, :curated_posts
  = f.submit
