- urls = %r{(?:https?|ftp|mailto)://\S+}i
.row
  = render 'layouts/search_large'
%div.row
  .col-md-12
    %h2.text-center
      Most Recent
    %ul.block-grid-sm-1
      - @emails.each do |email|
        %li
          %strong
            = link_to Newsletter.find(email.newsletter_id).name, email
          %span 
            |
          = link_to email.subject, email
          %span 
            |
          %small
            = link_to 'Links from newsletter', link_path(email)
          %p
            = strip_tags email.body.split(" ").first(70).join(" ").gsub(/(?:f|ht)tps?:\/[^\s]+/, '') + "..."
= paginate @emails
