- urls = %r{(?:https?|ftp|mailto)://\S+}i
.row
  = render 'layouts/search_large'
%div.row
  .col-md-12
    %h2.text-center
      Most Recent
    %p
      Below are the most recent emails that have arrived from the newsletters currently subscribed. Emails are subscirbed to a uniquely generated email address. The content of the emails is parsed to get the post-redirect links.
    %p
      Since the emails are directly embedded into the page, there is a lot of wonky CSS styling that is going on.
    %p
      If you would like to submit an email newsletter, please contact me at @rememberlenny or rememberlenny at gmail.
      
    %ul.block-grid-sm-1
      - @emails.each do |email|
        %li
          %strong
            = link_to Newsletter.find(email.newsletter_id).name, Newsletter.find(email.newsletter_id)
          %span 
            |
          = link_to email.subject, email
          %span 
            |
          %small
            = link_to 'Links from newsletter', link_path(email)
          %p{style: 'margin-bottom: 0px; padding: 0px;'}
            %label.palette.palette-concrete{style: 'padding: 5px 10px;'}
              = time_ago_in_words email.created_at
          - if !email.body.nil?
            %p
              = strip_tags email.body.split(" ").first(70).join(" ").gsub(/(?:f|ht)tps?:\/[^\s]+/, '') + "..."
= paginate @emails
